@font-face {
    font-family: 'Cera Pro';
    src: url('fonts/CeraPro-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Cera Pro';
    src: url('fonts/CeraPro-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('fonts/CeraPro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cera Pro', sans-serif;
    background: #fafafa;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 15px;
}

.navbar {
    text-align: center;
    margin-bottom: 40px;
}

.logo {
    display: inline-block;
    height: 35px;
    vertical-align: middle;
    margin-right: 10px;
}

.brand {

    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    color: #4CAF50;
    vertical-align: middle;
    margin-right: 40px;
}

nav {
    display: inline-block;
    vertical-align: middle;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {

    text-decoration: none;
    font-size: 16px;
    color: #333;
}

nav ul li a.active {

    font-weight: bold;
    border-bottom: 3px solid #4CAF50;
    padding-bottom: 5px;
}

.login-btn {

    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    float: right;
}


.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F5F5F580;
    padding: 40px;
    border-radius: 8px;
}

.hero-text {
    max-width: 600px;
}

.hero-text h4 {

    letter-spacing: 2px;
    color: #333;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.hero-text h1 {

    font-size: 48px;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.hero-text h1 .green {
    color: #4CAF50;
    text-transform: uppercase;
}

.hero-text p {

    font-size: 16px;
    color: #555;
    margin-bottom: 30px;
    line-height: 1.6;
}

.hero-text a {

    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    padding: 15px 30px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.hero-image {
    /* width: 400px; */
    height: 450px;
}


/* ///////-7-////// */


.sidebar {
    width: 310px;
    float: left;
    height: 774px;
    background: #FBFBFB;
    padding: 15px 15px;
}

.sidebar ul {
    list-style: none;
}

.sidebar-title {

    font-weight: 700;
    margin-bottom: 20px;
    font-size: 18px;
    color: #3D3D3D;

}

.sidebar-list {
    padding-left: 12px;
}

.sidebar li {

    margin-bottom: 26px;
    font-size: 16px;
    cursor: pointer;
}

.sidebar li.active {

    color: #46A358;
    font-weight: bold;
}

.main {
    flex: 1;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.tabs {
    display: flex;
    gap: 20px;
}

.tabs div {

    font-size: 16px;
    cursor: pointer;
}

.tabs .active {

    color: #46A358;
    font-weight: bold;
}

.sort {

    font-size: 14px;
    color: #3D3D3D;
}

.wrapper {
    display: flex;
    gap: 40px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.grid-row {
    margin-top: 70px;
    margin-bottom: 70px;
}

.product {
    width: 258px;
    float: left;
    text-align: center;
}

.product img {
    width: 258px;
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
}

.product-title {

    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #3D3D3D;
    margin: 12px 0 6px;
}

.product-price {

    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #46A358;
}

.promo {
    width: 310px;
    margin-top: 30px;
}

.promo img {
    width: 310px;

}

.pagination {
    margin-top: 40px;
    display: flex;
    gap: 10px;
    float: right;
}

.pagination button {

    width: 30px;
    height: 30px;
    border: 1px solid #E0E0E0;
    background: #fff;
    color: #3D3D3D;
    font-size: 14px;
    cursor: pointer;
}

.pagination .active {
    background: #46A358;
    color: #fff;
    border: none;
}