@font-face {
    font-family: 'Cera Pro';
    src: url('fonts/CeraPro-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('fonts/CeraPro-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('fonts/CeraPro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cera Pro', sans-serif;
    background: #fafafa;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.login_flex {
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 12px;
}

.logo {
    height: 35px;
    vertical-align: middle;
    margin-right: 10px;
}

.brand {
    font-weight: bold;
    font-size: 20px;
    color: #4CAF50;
    vertical-align: middle;
    margin-right: 40px;
}

.nav_border {
    border-bottom: 1px solid #46A35880;
}

nav {
    vertical-align: middle;
}

.sub_flex {
    display: flex;
    align-items: center;
}

.arrow {
    padding-left: 80px;
}

.navbar_flex {
    display: flex;
    gap: 47px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

nav ul li {
    position: relative;
}

.submenu {
    margin-top: 36px !important;
}

nav ul li ul.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #EDF6EE;
    padding: 10px 0;
    min-width: 150px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 0;
}

nav ul li ul.submenu li:hover {
    background-color: #1A712A;
}

nav ul li ul.submenu li:hover a {
    color: #fff;
    font-weight: bold;
}

nav ul li ul.next_submenu {
    display: none;
    position: absolute;
    top: -10px;
    left: 100%;
    background-color: #EDF6EE;
    padding: 10px 0;
    min-width: 150px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 0;
}


nav ul li ul.next_submenu li {
    margin: 0;
    padding: 5px 15px;
    white-space: nowrap;
}

nav ul li ul.submenu li {
    margin: 0;
    padding: 10px 15px;
    white-space: nowrap;
}

nav ul li ul.submenu li a {
    color: #333;
    text-decoration: none;
    display: block;
}



nav ul li ul.next_submenu li a {
    color: #3D3D3D !important;
    text-decoration: none;
    display: block;
    font-weight: normal !important;
}

nav ul li ul.next_submenu li a:hover {
    color: #FFFFFF !important;
    text-decoration: none;
    font-weight: bold !important;
}

nav ul li:hover>ul.submenu {
    display: block;
}

nav ul li.next_dropdown:hover>ul.next_submenu {
    display: block;
}

nav ul li ul.next_submenu li:hover {
    background-color: #1A712A;
}

nav ul li ul.next_submenu li:hover a {
    color: #3D3D3D;
    font-weight: normal;
}

nav ul li ul.submenu li a:hover,
nav ul li ul.next_submenu li a:hover {
    border-bottom: none;
    padding-bottom: 0;
}

nav ul li ul.submenu li.dropdown>ul.submenu {
    top: 0;
    left: 100%;
}

nav ul li ul.submenu li.next_dropdown>ul.next_submenu {
    top: 0;
    left: 100%;
}

nav ul li ul.submenu li.dropdown:hover>ul.submenu {
    display: block;
}

nav ul li ul.submenu li.dropdown:hover>ul.next_submenu {
    display: block;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
}

nav ul li a.active {
    font-weight: bold;
    border-bottom: 3px solid #46A358;
    padding-bottom: 30px;
}

nav ul li a:hover {
    font-weight: bold;
    border-bottom: 3px solid #46A358;
    padding-bottom: 30px;
}

.login-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    float: right;
}

.login {
    color: #fff;
    text-decoration: none;
    padding-left: 4px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F5F5F580;
    padding: 40px;
    border-radius: 8px;
    margin-top: 12px;
}

.hero-text {
    max-width: 600px;
}

.hero-text h4 {
    letter-spacing: 2px;
    color: #333;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.hero-text h1 .green {
    color: #4CAF50;
    text-transform: uppercase;
}

.hero-text p {
    font-size: 16px;
    color: #555;
    margin-bottom: 30px;
    line-height: 1.6;
}

.hero-text a {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    padding: 15px 30px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.hero-image {
    height: 450px;
}

.sidebar {
    width: 310px;
    float: left;
    height: 774px;
    background: #FBFBFB;
    padding: 15px 15px;
}

.sidebar ul {
    list-style: none;
}

.sidebar-title {
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 18px;
    color: #3D3D3D;
}

.sidebar-list {
    padding-left: 12px;
}

.sidebar li {
    margin-bottom: 26px;
    font-size: 16px;
    cursor: pointer;
}

.sidebar li.active {
    color: #46A358;
    font-weight: bold;
}

.main {
    flex: 1;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.tabs {
    display: flex;
    gap: 20px;
}

.tabs div {
    font-size: 16px;
    cursor: pointer;
}

.tabs .active {
    color: #46A358;
    font-weight: bold;
}

.sort {
    font-size: 14px;
    color: #3D3D3D;
}

.block-products {
    padding-top: 40px;
}

.wrapper {
    display: flex;
    gap: 40px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.grid-row {
    margin-top: 70px;
    margin-bottom: 70px;
}

.product {
    width: 258px;
    float: left;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.product::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #46A358;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: left;
}

.product:hover::before {
    transform: scaleX(1);
}

.product-icons {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.product:hover .product-icons {
    opacity: 1;
}

.product-icons img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.discount {
    position: absolute;
    top: 14px;
    background-color: #46A358;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.product img {
    object-fit: cover;
    border-radius: 4px;
}

.product-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #3D3D3D;
    margin: 12px 0 6px;
    text-align: left;
}

.product-price {
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #46A358;
    text-align: left;
}

.product-price span {
    color: #A5A5A5;
    text-decoration: line-through;
    font-weight: 400;
    padding-left: 16px;
}

.promo {
    width: 310px;
    margin-top: 30px;
}

.promo img {
    width: 310px;
}

.pagination {
    margin-top: 40px;
    display: flex;
    gap: 10px;
    float: right;
}

.pagination button {
    width: 30px;
    height: 30px;
    border: 1px solid #E0E0E0;
    background: #fff;
    color: #3D3D3D;
    font-size: 14px;
    cursor: pointer;
}

.pagination .active {
    background: #46A358;
    color: #fff;
    border: none;
}

.block-cards {
    padding-top: 100px;
}

.container-card {
    margin: 0 auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: #FBFBFB;
    flex: 1 1 45%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.image-card {
    width: 292px;
    height: auto;
    mix-blend-mode: multiply;
}

.card-content {
    flex: 1;
    text-align: right;
    padding-right: 30px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333333;
    text-transform: uppercase;
}

.card-text {
    font-size: 14px;
    color: #666666;
    margin-bottom: 20px;
    line-height: 24px;
}

.find-more {
    display: inline-block;
    padding: 16px 24px;
    background-color: #46A358;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.block-blog {
    padding-top: 140px;
}

.blog-header {
    text-align: center;
    margin-bottom: 20px;
}

.blog-main_title {
    font-size: 30px;
    margin: 0;
    color: #333333;
    font-weight: bold;
    padding-bottom: 15px;
}

.blog-header p {
    font-size: 14px;
    color: #666666;
    padding-bottom: 35px;
}

.blog-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog-card {
    width: 268px;
    background-color: #FBFBFB;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.blog-date {
    font-size: 14px;
    color: #46A358;
    margin-bottom: 10px;
}

.blog-title {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
}

.blog_card-text {
    padding: 15px 10px;
}

.blog-text {
    font-size: 14px;
    line-height: 18px;
    color: #666666;
    margin-bottom: 15px;
}

.read-more {
    font-size: 14px;
    font-weight: 500;
    color: #3D3D3D;
    text-decoration: none;
    align-self: flex-start;
}

.read-more:hover {
    color: #46A358;
}

.footer {
    padding-top: 100px;
}